{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<!--Seiteninhalt ANFANG-->
<div id="container-safety"></div>
<!--Ein Element, dass den komplette Seitencontent beinhaltet, muss die id="main" besitzen,-->
<!--damit die globale Farbe angezeigt wird !!!!!!!!!!!!!!-->
<div class="container" id="content-area">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div id="sidebar" class="sidebar gc">
                <div class="sidebar-title" style="font-size: 200%;">
                    {{ self.title() }}
                </div>
                <ul id="navigation-menu" class="navigation-menu">
                    <!-- Navigation items will be dynamically generated here -->
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12" id="main">
            <!-- Main content of your website -->
                <h2 id="1">Überschrift 1</h2>
                    <p>Text für Abschnitt 1... <br></p>
                    <h4 id="1.1">Überschrift 11</h4>
                        <p>Text für Abschnitt 1... <br></p>
                        <h6 id="1.1.1">Überschrift 111</h6>
                            <p>Text für Abschnitt 1... <br></p>
                        <h6 id="1.1.2">Überschrift 112</h6>
                            <p>Text für Abschnitt 1... <br></p>
                    <h4 id="1.2">Überschrift 12</h4>
                        <p>Text für Abschnitt 1... <br></p>
                        <h6 id="1.2.1">Überschrift 121</h6>
                            <p>Text für Abschnitt 1... <br></p>
                        <h6 id="1.2.2">Überschrift 122</h6>
                            <p>Text für Abschnitt 1... <br></p>
                <h2 id="2">Überschrift 2</h2>
                    <p>Text für Abschnitt 2... <br></p>
                    <h4 id="2.1">Überschrift 21</h4>
                        <p>Text für Abschnitt 2... <br></p>
                    <h4 id="2.2">Überschrift 22</h4>
                        <p>Text für Abschnitt 2... <br></p>
                        <h6 id="2.2.1">Überschrift 221</h6>
                            <p>Text für Abschnitt 2... <br></p>
                        <h6 id="2.2.2">Überschrift 222</h6>
                            <p class="callout-gc-plant">Callout<br></p>

            <div class="safety-bar gc" onclick="toggleSafetyBar()">
              <div class="reference-content">
                <span style="font-size: 200%;">Safety Advice</span>
                <img src="https://static.igem.wiki/teams/4669/wiki/design-elements/plus.svg" class="arrow2-icon">
              </div>
              <div class="mirko">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-xs-12">
                    <img src="https://static.igem.wiki/teams/4669/wiki/logo-und-schriftzuege/logo.svg" alt="Mirko Himmel" class="hp-img">
                  </div>
                  <div class="col-lg-9 col-md-8 col-xs-12 hp-text">
                      <h4>Mirko Himmel</h4>
                      <p>
                        Text zu Mirko
                      </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!--Spacer damit eine Lücke zw. Quellen und Navigationsmenü bleibt-->
<div class="container">
  <p>
       
  </p>
  <div class="marker"></div>
</div>

<!--Skript zur Erstellung und Funktionalität des Navigationsmenü (HTML Struktur wie oben vorausgesetzt)-->
<script src="static\NavigationMenu.js"></script>

<!--Quellen START-->
<div class="reference-bar gc" onclick="toggleReferenceBar()">
  <div class="reference-content">
      <span>References</span>
      <img src="https://static.igem.wiki/teams/4669/wiki/design-elements/plus.svg" class="arrow-icon">
  </div>
  <div class="sources">
      <!-- <div class="source">[Nr.] <a style="color: white;" href="..." id="...">Quelle</a></div> -->
      <!-- Weitere Quellen hier einfügen -->
  </div>
</div>
<!--Quellen ENDE-->

<!--Quellen Script!-->
<script src="static\referenceBar.js"></script>
<!--Safety Advice Script!-->
<script src="static\SafetyBar.js"></script>

{% endblock %}
