<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Hier Favicon!-->
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4669/wiki/logo-und-schriftzuege/logo.svg" />
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <script src="static\jquery-3.7.1.min.js"></script>

    <!--GLOBAL COLOR: Objekte mit der class="gc" werden in der globalen Farbe eingefärbt-->
    <script src="static\globalColor.js" defer></script>

    <title>{% block title %}{% endblock %} | Hamburg - iGEM 2023</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Header -->
  <header class="py-5 mb-5" id="background-image-container">
    <div class="container h-100">
      <div class="row h-100 title-background-padding align-items-center" id="no-title-background">
        <div class="col-lg-12 title-background" style="text-align: center;">
          <h1 class="display-4 text-white mt-5 mb-2">{{ self.title() }}</h1>
	        <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
      <div id="background-video-wrapper" style="display: none;" class="gc-home">
        <video id="background-video" muted autoplay>
          <source src="https://video.igem.org/videos/embed/56033bf3-6df5-4d69-af1d-c163f63d1873" type="video/mp4">
          Dein Browser unterstützt das Video-Tag nicht.
        </video> 
        <div>
          <img src="https://static.igem.wiki/teams/4669/wiki/design-elements/footer-wave-1.svg" alt="-" class="header-wave-up">
          <div class="row mt-4 gc">
            <div class="col" style="text-align: center;">
              <h4> What if medical drugs cant reach their targets any more?</h4>
            </div>
          </div>
          <img src="https://static.igem.wiki/teams/4669/wiki/design-elements/header-wave-2.svg" alt="-" class="header-wave-down">
          <div class="row" style="background-color: #fff; padding-top: 5%; padding-bottom: 5%;">
            <div class="col" style="text-align: center;">
              <h4> What if medical drugs cant reach their targets any more?</h4>
            </div>
          </div>
          <img src="https://static.igem.wiki/teams/4669/wiki/design-elements/footer-wave-1.svg" alt="-" class="header-wave-up second">
          <img src="https://static.igem.wiki/teams/4669/wiki/design-elements/header-wave-2.svg" alt="-" class="header-wave-down second">
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>
  

  <!--Blaue Welle, sieht noch nicht gut aus -->
  <div>
    <img style="z-index: 5;" max-width="100%" src="https://static.igem.wiki/teams/4669/wiki/design-elements/footer-wave-1.svg" alt="-">
  </div> 

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>

  <script src="static\screen-size-observer.js" defer></script>
</body>
</html>
